:root {
  --primary: #570df8;
  --secondary: #f000b8;
  --accent: #37cdbe;
  --neutral: #3d4451;
  --info: #3abff8;
  --success: #36d399;
  --warning: #fbbd23;
  --error: #f87272;
}

[data-theme="dark"] {
  --primary: #635985;
  --secondary: #443c68;
  --accent: #343232;
  --neutral: #25222f;
  --success: #008000;
  --info: #0000ff;
  --error: #ff0000;
  --warning: #ffff00;
  --background: var(--neutral);
}
[data-theme="light"] {
  --primary: #19a7ce;
  --secondary: #146c94;
  --accent: #343232;
  --neutral: #000000;
  --success: #04ed8f;
  --info: #495159;
  --error: #ff0000;
  --warning: #ffff00;
  --background: #F6F1F1;
}
