.root {
  @apply inline-block w-full h-full
  transition-all duration-200 ease-in-out;
}

:root {
  --button-primary-color: #fff;
  --button-primary-bg: #000;
  --button-primary-border: #000;
  --button-primary-border-width: 1px;
  --button-primary-hover-color: #fff;
  --button-primary-hover-bg: #000;
  --button-primary-hover-border: #000;
}

:root {
  --button-secondary-color: #000;
  --button-secondary-bg: #fff;
  --button-secondary-border: #000;
  --button-secondary-border-width: 1px;
  --button-secondary-hover-color: #000;
  --button-secondary-hover-bg: #fff;
  --button-secondary-hover-border: #000;
}

:root {
  --button-tertiary-color: #000;
  --button-tertiary-bg: #fff;
  --button-tertiary-border: #000;
  --button-tertiary-border-width: 1px;
  --button-tertiary-hover-color: #000;
  --button-tertiary-hover-bg: #fff;
  --button-tertiary-hover-border: #000;
}

:root {
  --button-quad-color: #000;
  --button-quad-bg: #fff;
  --button-quad-border: #000;
  --button-quad-border-width: 1px;
  --button-quad-hover-color: #000;
  --button-quad-hover-bg: #fff;
  --button-quad-hover-border: #000;
}

.primary {
  background-color: var(--button-primary-bg);
  color: var(--button-primary-color);
  border: var(--button-primary-border-width) solid var(--button-primary-border);
}

.primary:hover {
  background-color: var(--button-primary-hover-bg);
  color: var(--button-primary-hover-color);
  border-color: var(--button-primary-hover-border);
}

.secondary {
  background-color: var(--button-secondary-bg);
  color: var(--button-secondary-color);
  border: var(--button-secondary-border-width) solid
    var(--button-secondary-border);
}

.secondary:hover {
  background-color: var(--button-secondary-hover-bg);
  color: var(--button-secondary-hover-color);
  border-color: var(--button-secondary-hover-border);
}

.tertiary {
  background-color: var(--button-tertiary-bg);
  color: var(--button-tertiary-color);
  border: var(--button-tertiary-border-width) solid
    var(--button-tertiary-border);
}

.tertiary:hover {
  background-color: var(--button-tertiary-hover-bg);
  color: var(--button-tertiary-hover-color);
  border-color: var(--button-tertiary-hover-border);
}

.quad {
  background-color: var(--button-quad-bg);
  color: var(--button-quad-color);
  border: var(--button-quad-border-width) solid var(--button-quad-border);
}

.quad:hover {
  background-color: var(--button-quad-hover-bg);
  color: var(--button-quad-hover-color);
  border-color: var(--button-quad-hover-border);
}

.unstyled {
  background-color: transparent;
  color: inherit;
  border: none;
}

/* Sizes */

:root {
  --button-xl-min-height: 56;
  --button-xl-min-width: 56;
  --button-xl-font-size: 20;
  --button-xl-font-width: 800;
  --button-xl-padding-x: 28;
  --button-xl-padding-y: 14;
}

:root {
  --button-lg-min-height: 48;
  --button-lg-min-width: 48;
  --button-lg-font-size: 18;
  --button-lg-font-width: 700;
  --button-lg-padding-x: 24;
  --button-lg-padding-y: 12;
}

:root {
  --button-md-min-height: 40;
  --button-md-min-width: 40;
  --button-md-font-size: 16;
  --button-md-font-width: 600;
  --button-md-padding-x: 20;
  --button-md-padding-y: 10;
}

:root {
  --button-sm-min-height: 32;
  --button-sm-min-width: 32;
  --button-sm-font-size: 14;
  --button-sm-font-width: 500;
  --button-sm-padding-x: 16;
  --button-sm-padding-y: 8;
}

.xl {
  min-height: calc(var(--button-xl-min-height) * 1px);
  min-width: calc(var(--button-xl-min-width) * 1px);
  font-size: calc(var(--button-xl-font-size) * 1px);
  font-weight: calc(var(--button-xl-font-width) * 1px);
  padding-block: calc(var(--button-xl-padding-y) * 1px);
  padding-inline: calc(var(--button-xl-padding-x) * 1px);
}

.lg {
  min-height: calc(var(--button-lg-min-height) * 1px);
  min-width: calc(var(--button-lg-min-width) * 1px);
  font-size: calc(var(--button-lg-font-size) * 1px);
  font-weight: calc(var(--button-lg-font-width) * 1px);
  padding-block: calc(var(--button-lg-padding-y) * 1px);
  padding-inline: calc(var(--button-lg-padding-x) * 1px);
}

.md {
  min-height: calc(var(--button-md-min-height) * 1px);
  min-width: calc(var(--button-md-min-width) * 1px);
  font-size: calc(var(--button-md-font-size) * 1px);
  font-weight: calc(var(--button-md-font-width) * 1px);
  padding-block: calc(var(--button-md-padding-y) * 1px);
  padding-inline: calc(var(--button-md-padding-x) * 1px);
}

.sm {
  min-height: calc(var(--button-sm-min-height) * 1px);
  min-width: calc(var(--button-sm-min-width) * 1px);
  font-size: calc(var(--button-sm-font-size) * 1px);
  font-weight: calc(var(--button-sm-font-width) * 1px);
  padding-block: calc(var(--button-sm-padding-y) * 1px);
  padding-inline: calc(var(--button-sm-padding-x) * 1px);
}
